/**
 * This CSS file contains styling rules for various elements.
 * 
 * Styles for the 'div' element:
 * - Sets the height to 200px
 * - Sets the width to the width of the screen
 * - Sets the background color to hotpink
 * - Sets the border width to 5px, style to solid, and color to black
 * - Sets the border radius to 10px
 * - Sets the padding to 10px
 * - Sets the top margin to 10px, bottom margin to 20px, and left margin to 10px
 * 
 * Styles for the 'h1' element:
 * - Sets the width to 150%
 * - Sets the border width to 2px, style to dashed, and color to green
 * - Sets the text color to white
 * - Centers the text within the element
 * 
 * Styles for the 'button' element:
 * - Sets the border width to 2px, style to solid, and color to black
 * - Sets the padding to 0px on the top and bottom, and 25px on the left and right
 * - Sets the background color to yellow
 * - Changes the background color to orange when hovered over
 * - Changes the background color to white when clicked
 * 
 * Styles for all elements:
 * - Sets the background color to rgb(48, 48, 48)
 */
div {
    height: 200px;
    width: screen-width;
    background-color: pink;
    /* border-width: 5px; 
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    border-radius: 10px;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h1 {
    width: 150%;
    border-width: 2px;
    border-style: dashed;
    border-color: green; 
    border: 2px dashed green;
    color: white;
    text-align: center; /* Added to center the h1 element */
}
    


button {
    border: 2px solid black;
    /* border-radius: 10px; */
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 0px 25px;
    background-color: lemonchiffon;

}
button:hover {
    background-color: orange;
}
button:active {
    background-color: white;
}

* {
    background-color: rgb(48, 48, 48);
}