h1 {
    background-color: yellow;
    border: 2px solid black;
    color:white;
}

@media (width: 400px) {
    h1 {
        background-color: red;
    }

    div {
        height: 40px;
        width: 30px;
        background-color: blue;
    }
}

@media (min-width: 600px) {
    h1 {
        background-color: green;
    }

    div {
        height: 50px;
        width: 50px;
        background-color: red;
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: aqua;
        color:brown;
    }
}